@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3.125rem);
  }

  80% {
    transform: translateY(-0.625rem);
  }

  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-1.875rem);
  }

  100% {
    opacity: 1;
    tranform: translateX(0);
  }
}
@keyframes rainbow {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rainbow_outline {
  0% {
    outline-color: violet;
  }
  33% {
    outline-color: cyan;
  }
  66% {
    outline-color: yellow;
  }
  100% {
    outline-color: red;
  }
}